Repository htmlHxcker/restry: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

[FIX]:Specify baseurl for ci and prod environments
  production.json
Due: prettier --write

[FEAT]:Create script to specify config file for ci
  package.json
Due: prettier --write

[FIX]:Refactor home pae test to use baseurl
  cypress/integration/home.spec.js
Due: prettier --write

[FIX]:Typo in baseurl
  production.json
Due: prettier --write

[FEAT]:Update pipeline to use custome e2e command
  .github/workflows/main.yml
Due: none

[FIX]:Stop CI tests from running infinitely
  package.json
Due: prettier --write

[FEAT]:Install react-hot-toast for notifications
  package.json
  yarn.lock
Due: prettier --write

[FEAT]:Send toast when task is created
  src/features/TaskList/TaskList.tsx
Due: eslint --cache --fix

[FEAT]:Add icons for editing and deleting
  src/features/Pomodoro/Timer.tsx
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FIX]:Stop task item text from pushing menu icons
  src/features/TaskList/TaskItem.scss
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FIX]:Remove unused TaskItem import
  src/features/TaskList/TaskList.tsx
Due: eslint --cache --fix

[FEAT]:Wrap icons for task items in button
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FEAT]:Wrap items in buttons
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FIX]:Increase size of menu icons for task items
  src/features/TaskList/TaskItem.scss
Due: none

[FIX]: Pointer cursor on hover menu buttons
  src/features/TaskList/TaskItem.scss
Due: none

[FEAT]:Create custom checkbox for task items
  src/features/TaskList/TaskItem.scss
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FEAT]:Style checkbox for marking tasks as done.
  src/features/TaskList/TaskItem.scss
Due: none

[FEAT]:Create focus state for checkbox
  src/features/TaskList/TaskItem.scss
Due: none

[FEAT]:Clicking span now checks task
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FIX]:Clear form field after creating task
  src/features/TaskList/TaskList.tsx
Due: eslint --cache --fix

FIX:Change taskName to task, pass task to TaskItem
  src/features/TaskList/TaskList.tsx
Due: eslint --cache --fix

[FEAT]: MVP for deleteing tasks
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FIX]:class for crossing out completed tasks
  src/features/TaskList/TaskItem.scss
Due: none

[FEAT]:Create utility classes for background color
  src/styles/base/_colors.scss
  src/styles/base/_typography.scss
  src/styles/main.scss
Due: none

[FIX]:update style to affect only background
  src/styles/base/_colors.scss
Due: none

[FIX]:Add whitespace behind comment
  src/styles/helpers/_variables.scss
Due: none

[FIX #15];Tasks now get permanently deleted
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FEAT]:Create theme for notifications
  src/features/TaskList/TaskList.tsx
Due: eslint --cache --fix

[FEAT]:Add notifications for deleting tasks
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FEAT]:Ability to mark tasks as done
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FIX]:Set default done state to false
  src/features/TaskList/TaskList.tsx
Due: eslint --cache --fix

[FIX]:Style completed tasks
  src/features/TaskList/TasksList.scss
Due: none

[FEAT]:Persist state of chekbox after refresh
  .eslintcache
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FEAT]:Now tracks editing task name in state
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FEAT]:Ability to edit tasks
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FIX]:change checked to defaultChecked
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FIX]:Update test to check for display value
  src/features/TaskList/__tests__/TaskItem.int.test.tsx
Due: eslint --cache --fix

[FIX]:Update object properties to new task type
  src/test/data-generator.ts
Due: eslint --cache --fix

[FIX]:replace createTask with taskGenerator
  src/utils/__tests__/localStorage.unit.test.ts
Due: eslint --cache --fix

[FIX]:Delete redundant createTask function
  src/test/test-utils.ts
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,css,md,json}
