Repository htmlHxcker/restry: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{js,css,md,json}": "prettier --write"
}

[FEAT]:Style new task form for mobile
  src/features/TaskList/TasksList.scss
  src/styles/helpers/_variables.scss
Due: none

[FIX]:Center items on Home page
  src/pages/index.tsx
Due: eslint --cache --fix

[FIX]: #1 by reducing min-height
  src/features/TaskList/TasksList.scss
Due: none

[FEAT]:Install faker.js
  package.json
  yarn.lock
Due: prettier --write

[FEAT]:Install uuid
  package.json
  yarn.lock
Due: prettier --write

[FEAT]:Update TaskList to use uuid
  src/features/TaskList/TaskList.tsx
Due: eslint --cache --fix

[FEAT]:Create Task generator
  src/test/data-generator.ts
Due: eslint --cache --fix

[FEAT]:Creat util for saving array to localstorage
  src/utils/localStorage.ts
Due: eslint --cache --fix

[FEAT]:Tasks are now saved to localStorage
  src/features/TaskList/TaskList.tsx
Due: eslint --cache --fix

[FEAT]:Create function for creating tasks
  src/test/test-utils.ts
Due: eslint --cache --fix

[FEAT]:Clear localstorage after each test
  src/setupTests.ts
Due: eslint --cache --fix

[FIX]:Modify test utils to be use-agnostic
  src/test/test-utils.ts
Due: eslint --cache --fix

[FEAT]:Install ESLint plugin for jest
  package.json
  yarn.lock
Due: prettier --write

[FEAT]:Set up override for test files
  .eslintrc.js
Due: prettier --write

[FEAT]:Test to verify locaslStorage functionality
  src/utils/__tests__/localStorage.test.js
Due: prettier --write

[FEAT]:Install package for mocking localStorage
  package.json
  yarn.lock
Due: prettier --write

[FEAT]:Setup localStorage mock
  src/setupTests.ts
Due: eslint --cache --fix

[FEAT]:Create test for localStorage
  src/utils/__tests__/localStorage.test.js
  src/utils/__tests__/localStorage.test.ts
Due: eslint --cache --fix, prettier --write

[FEAT]:Wrap test in describe block
  src/utils/__tests__/localStorage.test.ts
Due: eslint --cache --fix

[FEAT]:Run tests in GitHub actions
  .github/workflows/main.yml
Due: none

[DOCS]:Update comment explaining setArrayItems
  src/utils/__tests__/localStorage.test.ts
Due: eslint --cache --fix

[FIX]:Delete unused no tasks illustration
  src/features/TaskList/assets/no-tasks.png
Due: none

[FEAT]:Ability to fetch tasks from localStorage
  src/features/TaskList/TaskList.tsx
Due: eslint --cache --fix

[FIX];Update user-event package
  package.json
  yarn.lock
Due: prettier --write

[FEAT]:Create Tests for TaskItem component
  src/features/TaskList/__tests__/TaskItem.int.test.tsx
Due: eslint --cache --fix

[FEAT]:Create tests for TaskList component
  src/features/TaskList/__tests__/TaskList.int.test.tsx
Due: eslint --cache --fix

FEAT:Test that tasks are fetched from localStorage
  src/features/TaskList/__tests__/TaskList.int.test.tsx
Due: eslint --cache --fix

[FIX];Change localStorage test from ts to tsx
  src/utils/__tests__/localStorage.unit.test.ts
Due: eslint --cache --fix

[FEAT]:Set up test cleanup for TaskList
  src/features/TaskList/__tests__/TaskList.int.test.tsx
Due: eslint --cache --fix

[FIX]:Add test-id role for TaskItem
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FEAT]:Install cypress
  package.json
  yarn.lock
Due: prettier --write

[FEAT]:Install and setup cross-env
  package.json
  yarn.lock
Due: prettier --write

[FIX]:Update GitHub actions to run CI test
  .github/workflows/main.yml
Due: none

[FEAT]: Create scripts for cypress
  package.json
Due: prettier --write

[FEAT]:Install and configure cypress eslint plugin
  .eslintrc.js
  package.json
  yarn.lock
Due: prettier --write

[FEAT];Create cypress test for home page
  cypress/integration/home.spec.js
Due: prettier --write

[FEAT]:Cypress boilerplate
  cypress.json
  cypress/fixtures/example.json
  cypress/plugins/index.js
  cypress/support/index.ts
Due: eslint --cache --fix, prettier --write

[FEAT]:Configure cypress for ci
  .github/workflows/main.yml
  package.json
Due: prettier --write

[FIX]:Update node version for cypress task
  .github/workflows/main.yml
Due: none

[FIX]:Specify baseUrl for e2e tests
  cypress.json
Due: prettier --write
