Repository htmlHxcker/restry: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{js,css,md,json}": "prettier --write"
}

[FIX]:Rename file to match name of component
  src/features/TaskList/TasksList.tsx
Due: eslint --cache --fix

[FIX]:Update index exports
  src/features/TaskList/index.ts
Due: eslint --cache --fix

[FEAT]:Add label to input fields
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FIX]: Create test for marking tasks as done
  src/features/TaskList/__tests__/TaskItem.int.test.tsx
Due: eslint --cache --fix

[FIX]: Remove queries using getByTestid
  src/features/TaskList/__tests__/TaskList.int.test.tsx
Due: eslint --cache --fix

[FIX]:Update react-hot-toast
  yarn.lock
Due: none

[FEAT]:Set up development config for cypress
  development.json
  package.json
Due: prettier --write

[FEAT]:Add testing library to cypress
  cypress/support/index.ts
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

[FEAT]:Move testing of tasks to cypress
  cypress/integration/home.spec.js
  src/features/TaskList/__tests__/TaskItem.int.test.tsx
  src/features/TaskList/__tests__/TaskList.int.test.tsx
Due: eslint --cache --fix, prettier --write

[FIX]:Add label to checkbox
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FIX]:Cypress globals no longer overrule jest
  cypress/tsconfig.json
  jest.config.js
  tsconfig.json
Due: prettier --write

[FIX]:Import taskGenerator relatively
  src/utils/__tests__/localStorage.test.ts
Due: eslint --cache --fix

[FIX]:Update baseUrl to reflect current url
  production.json
Due: prettier --write

[FIX]:Include SASS and SVG files in tsconfig
  tsconfig.json
Due: prettier --write

[FIX]:Rename NoTasks to use camelCase
  src/features/TaskList/assets/NoTasks.svg
Due: none

[CHORE}:Update import of NoTasks
  src/features/TaskList/TasksList.tsx
Due: eslint --cache --fix

[FEAT}:Include image type in tsconfig
  tsconfig.json
Due: prettier --write

[FEAT]:Delete ESLint cache
  .eslintcache
Due: none

[FIX]:Stop monitoring ESlint cache
  .gitignore
Due: none

[FEAT]:Install font-awesome
  package.json
  yarn.lock
Due: prettier --write

[FIX]:Update packages
  yarn.lock
Due: none

[FIX]:Uninstall heroicons
  package.json
  yarn.lock
Due: prettier --write

[FEAT]:Setup dynamic icon importing
  .babelrc
  package.json
Due: prettier --write

[FEAT]:Replace heroicons with fontawesome
  src/features/Pomodoro/Pomodoro.tsx
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FEAT]:Delete redundant pomodoro class
  src/features/Pomodoro/Pomodoro.scss
Due: none

[FEAT]:Create propTypes for Timer
  src/features/Pomodoro/Timer.tsx
Due: eslint --cache --fix

[FEAT]:Pass isPaused to Timer
  src/features/Pomodoro/Pomodoro.tsx
Due: eslint --cache --fix

[FEAT]:Ability to pause timer
  src/features/Pomodoro/Timer.tsx
Due: eslint --cache --fix

[FEAT]:Play & Pause icon update based on isPaused
  src/features/Pomodoro/Pomodoro.tsx
Due: eslint --cache --fix

[CHORE]:Update variable name for modifyTask func
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FIX]:Long tasks no longer clip
  src/features/TaskList/TaskItem.scss
Due: none

[FEAT]:Update timer buttons
  src/features/Pomodoro/Pomodoro.tsx
Due: eslint --cache --fix

[FIX]:Pause control now happens instantly
  src/features/Pomodoro/Timer.tsx
Due: eslint --cache --fix

[FEAT]:Remove redundant counter reset button
  src/features/Pomodoro/Pomodoro.tsx
Due: eslint --cache --fix

[FEAT]:Add reset param to allow for timer reset
  src/features/Pomodoro/utils/countDown.ts
Due: eslint --cache --fix

[FIX]:Delete pomodoro component
  src/features/Pomodoro/Pomodoro.tsx
  src/features/Pomodoro/Timer.scss
  src/features/Pomodoro/index.ts
Due: eslint --cache --fix

[FEAT]:Rename Timer component to Pomodoro
  src/features/Pomodoro/Pomodoro.scss
  src/features/Pomodoro/Timer.tsx
Due: eslint --cache --fix

[FEAT]:Ability to reset timer
  src/features/Pomodoro/Timer.tsx
Due: eslint --cache --fix

[FEAT]:Make test specific to Task CRUD
  cypress/integration/task.spec.js
Due: prettier --write

[FEAT]:Create new cypress config for dev env
  cypress.config.ts
  cypress.json
  development.json
  package.json
Due: eslint --cache --fix, prettier --write
