Repository htmlHxcker/restry: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{js,css,md,json}": "prettier --write"
}

FIX:Create script for checking type and formatting
  package.json
Due: prettier --write

[FIX]:Update github action to reflect new scripts
  .github/workflows/main.yml
Due: none

[FIX]:Syntax error in main.yml
  .github/workflows/main.yml
Due: none

[FIX]:Remove node minor version specification
  .github/workflows/main.yml
Due: none

[FEAT]:Update PWA Manifest.json
  public/manifest.json
Due: prettier --write

[FIX]:Create type for PNGs
  src/types/image.d.ts
Due: eslint --cache --fix

[FIX]:Remove Restry text from img tag
  src/components/NavBar/index.tsx
Due: eslint --cache --fix

[FIX]:Remove alarm emoji to not obstruct favicon
  src/pages/Home/components/Pomodoro/Timer.tsx
Due: eslint --cache --fix

[FIX]:Use absolute import to import image
  src/pages/Home/components/Tasks/index.tsx
Due: eslint --cache --fix

[FEAT]:Update task type for TaskItem
  src/pages/Home/components/Tasks/TaskItem.tsx
Due: eslint --cache --fix

FIX:Move router config from navigation to routes
  src/routes/CONSTANTS.ts
  src/routes/RouterConfig.tsx
Due: eslint --cache --fix

[FEAT]:Move tasks to feature folder
  src/features/tasks-list/TaskItem.scss
  src/features/tasks-list/TaskItem.tsx
  src/features/tasks-list/TaskList.tsx
  src/features/tasks-list/TasksList.scss
  src/pages/Home/components/Tasks/TaskItem.scss
  src/pages/Home/components/Tasks/index.scss
Due: eslint --cache --fix

[FEAT]:Separate timer utils into their own files
  src/features/Pomodoro/utils/countDown.ts
  src/features/Pomodoro/utils/formatTime.ts
Due: eslint --cache --fix

[FEAT]:Move timer to separate feature folder
  src/features/Pomodoro/Pomodoro.scss
  src/features/Pomodoro/Pomodoro.tsx
  src/features/Pomodoro/Timer.scss
  src/features/Pomodoro/Timer.tsx
  src/pages/Home/components/Pomodoro/index.scss
Due: eslint --cache --fix

[FIX]:Move girl-with-laptop image to assets
  src/assets/girl-with-laptop.png
Due: none

[FEAT]:Change home page to index.jsx
  src/pages/Home/index.tsx
  src/pages/index.tsx
Due: eslint --cache --fix

[FIX]:Delete unnecesary home.scss file
  src/pages/Home/home.scss
Due: none

[FEAT]:Create index files for features
  src/features/Pomodoro/index.ts
  src/features/tasks-list/index.ts
Due: eslint --cache --fix

[FIX]:Correct path to RouterConfig
  src/App.tsx
  src/components/NavBar/index.tsx
Due: eslint --cache --fix

[FIX]:Rename timer.scss file to Timer.scss
  src/pages/Home/components/Pomodoro/timer.scss
Due: none

[FEAT]:Create prettier script
  package.json
Due: prettier --write

[FEAT]:Convert double quotes to single quotes
  .eslintrc.js
Due: prettier --write

[FEAT]:Add image for empty tasks state
  src/features/TaskList/assets/no-tasks.png
  src/features/TaskList/assets/no-tasks.svg
Due: none

[FIX]:Remove modal for adding new tasks
  src/features/TaskList/TaskList.tsx
  src/features/TaskList/TasksList.scss
Due: eslint --cache --fix

[FEAT]:Remove modal for creating tasks
  src/features/TaskList/TaskItem.scss
  src/features/TaskList/TaskItem.tsx
Due: eslint --cache --fix

[FIX]:Uninstall react-modal package
  package.json
  yarn.lock
Due: prettier --write

[FEAT]:Setup index for exporting components
  src/features/TaskList/index.ts
Due: eslint --cache --fix

[FIX];Remove React modal import
  src/index.tsx
Due: eslint --cache --fix

[FIX]:Correct import path to TasksList
  src/pages/index.tsx
Due: eslint --cache --fix

[FIX]:Delete redundant image for modal
  src/assets/girl-with-laptop.png
Due: none

[FIX]:Resize empty state illustration
  src/features/TaskList/assets/no-tasks.svg
Due: none

[FIX]:Rename TasksList file
  src/features/tasks-list/TaskItem.scss
  src/features/tasks-list/TaskItem.tsx
  src/features/tasks-list/TaskList.tsx
  src/features/tasks-list/TasksList.scss
  src/features/tasks-list/index.ts
Due: eslint --cache --fix

[FIX]:Update style formatting with prettier
  src/components/NavBar/navbar.scss
  src/styles/base/_typography.scss
  src/styles/helpers/_variables.scss
Due: none

[FEAT]:Move buttons to utilities styles folder
  src/styles/utilities/_buttons.scss
Due: none

[FEAT]:Create screenreader class for accesiblity
  src/styles/main.scss
  src/styles/utilities/_screenreader.scss
Due: none

[FIX]:Updater font variable to Jost
  src/styles/base/_reset.scss
Due: none

[FIX]:Update NoTask image import to svg
  src/features/TaskList/TaskList.tsx
Due: eslint --cache --fix

[FIX]:Update classname to reflect use
  src/features/TaskList/TasksList.scss
Due: none

[FIX]:Remove unused classes
  src/features/TaskList/TasksList.scss
Due: none

[FIX];Edit classnames to be specific to new task
  src/features/TaskList/TaskList.tsx
Due: eslint --cache --fix
