Repository htmlHxcker/restry: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{js,css,md,json}": "prettier --write"
}

[FEAT]:Delete obsolete UI test
  cypress/integration/task.spec.js
Due: prettier --write

[FEAT]:Create test for pomodoro functionality
  cypress/integration/pomodoro.spec.js
Due: prettier --write

[FIX]:Update label to match other button labels
  src/features/Pomodoro/Timer.tsx
Due: eslint --cache --fix

[FEAT]:Move rule against test video to root config
  cypress.config.ts
  production.json
Due: eslint --cache --fix, prettier --write

[FEAT]:Update yarn
  package.json
  yarn.lock
Due: prettier --write

[FIX]:Specify video property for production tests
  production.json
Due: prettier --write

[FIX]:Update Cypress GH action
  .github/workflows/main.yml
Due: none

[FEAT]:Update yarn packages
  yarn.lock
Due: none

[FEAT]:Update GH workflow to use craco
  .github/workflows/main.yml
Due: none

[FEAT]:Install serve
  yarn.lock
Due: none

[FEAT]:Create script for serving
  package.json
Due: prettier --write

[FIX]:Use serve command in CI workflow
  .github/workflows/main.yml
Due: none

[FEAT]:Specify supportFile and specPattern
  cypress.config.ts
Due: eslint --cache --fix

[FEAT]:Convert test files to typescript
  cypress/e2e/pomodoro.spec.ts
  cypress/e2e/task.spec.ts
Due: eslint --cache --fix

[FIX]:Remove custom config for production
  package.json
  production.json
Due: prettier --write

[FIX]:Specify config-file
  .github/workflows/main.yml
Due: none

[FIX]:Delete unused supportFile for cypress
  cypress/support/index.ts
Due: eslint --cache --fix

[FEAT]:Rename Timer to Pomodoro
  src/features/Pomodoro/Pomodoro.tsx
  src/features/Pomodoro/index.ts
Due: eslint --cache --fix

[FEAT]:Create checkbox for toggling pomodoro
  src/pages/index.tsx
Due: eslint --cache --fix

[FEAT]:Style view states
  src/pages/index.scss
Due: none

[FIX]:Use aria-label instead of label tag
  src/pages/index.tsx
Due: eslint --cache --fix

[FIX]:REmove unused Page title
  src/features/TaskList/TasksList.tsx
  src/styles/base/_typography.scss
Due: eslint --cache --fix

[FIX]:Make toggle a button
  src/pages/index.tsx
Due: eslint --cache --fix

[FIX]:Delete unused navbar
  src/components/NavBar/index.tsx
  src/components/NavBar/navbar.scss
Due: eslint --cache --fix

[FIX]:Delete routerconfig
  src/routes/CONSTANTS.ts
  src/routes/RouterConfig.tsx
Due: eslint --cache --fix

[FIX]:Import home page directly into app component
  src/App.tsx
Due: eslint --cache --fix

[FIX]:Delete react-router-dom
  package.json
  yarn.lock
Due: prettier --write

[FEAT]:Make components adapt to device screen
  src/features/Pomodoro/Pomodoro.scss
  src/features/TaskList/TasksList.scss
  src/pages/index.scss
Due: none

[FEAT]:Make toggle button longer
  src/pages/index.scss
Due: none

[FIX]:Centralize pomodoro timer
  src/pages/index.scss
Due: none

[FEAT]:Add logo to home page
  src/App.tsx
Due: eslint --cache --fix

[FEAT]:Hide logo for smaller screens
  src/pages/index.scss
Due: none

[FEAT]:Create LICENSE
  LICENSE
Due: none

[FIX]:Move acknowledgement to README
  src/features/Pomodoro/Pomodoro.tsx
Due: eslint --cache --fix

[FEAT]:Create README
  README.md
  src/assets/README/restry-home-desktop.png
Due: prettier --write

[FIX]:Remove redundant test
  cypress/e2e/task.spec.ts
Due: eslint --cache --fix

[DOCS]:Update broken link
  README.md
Due: prettier --write

[DOCS]: Update link to LICENSE
  README.md
Due: prettier --write

[CHORE]:Fix typo in README
  README.md
Due: prettier --write

[CHORE]:Fix broken LICENSE url
  README.md
Due: prettier --write
